body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:#353535;
}
.gameHolder{
    height:700px;
    width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.gameArea{
    margin:auto;
    width:600px;
    height:600px;
    padding: 50px;
    background:#ccc;
}

.board{
    width:500px;
    height:500px;
    margin:auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width:100px;
    height: 100px;
}
.square:nth-child(odd){
    background: #000;
}

.square:nth-child(even){
    background: #fff;
}

.robot{
    background: #ff0000;
    width:50px;
    height:50px;
    position: absolute;
    top:0;
    left:0;
    display: none;
    transition: all 0.5s ease;  
    transform: translate3d(0,0,0);
}

.robot:after{
    content: " ";
    display: block;
    width:0;
    height:0;
    border: 20px solid transparent;
    border-bottom-color: #0000ff;
    position: absolute;
    left:5px;
    top:-5px;
}

.controls{
    width: 600px;
    margin: 10px auto;
}

.controls button{
    display: block;
}

.controls .forward button{
    margin:auto;
}

.controls .left button{
    float: left;
}

.controls .right button{
    float: right;
}

.rotateButtons{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.rotateButtons .left{
    width: 50%;
}

.rotateButtons .left:after{
    display: table;
    content: " ";
    width:0;
    height:0;
    clear: both;
}

.rotateButtons .right{
    width: 50%;
}

.rotateButtons .right:after{
    display: table;
    content: " ";
    width:0;
    height:0;
    clear: both;
}


.place .coOrds{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: auto;
    height: 50px;
}

.place button{
    margin: auto;
}

.place label{
    display: block;
    margin: auto;
    text-align: center;
}

.place input{
    display: block;
    width:50px;
    margin: auto;

}